body {
  font-size: 20px;
}

.blog {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-width: 720px;
  height: 80vh;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(161, 168, 174);
  border-radius: 15px;
  padding: 10px;
}

.posts-container {
  height: 90%;
  background-color: aliceblue;
}

.textForm {
  display: flex;
  height: 10%;
  justify-content: center;
  padding: 25px;
}

.textForm > input[type="text"] {
  width: 80%;
  height: 50px;
  padding: 10px;
  font-size: inherit;
}

.posts-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.post {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-self: flex-end;
  margin: 15px;
  border: 1px solid black;
  background-color: antiquewhite;
}

.post-title {
  align-self: flex-end;
  padding: 15px;
}

.post-content {
  padding: 15px;
}

.post-geo {
  padding: 15px;
}

.error-popup {
  position: absolute;
  top: 50vh;
  left: 50%;
  width: 400px;
  height: fit-content;
  background-color: aquamarine;
  padding: 20px;
  display: none;
  flex-direction: column;

  translate: -50% -50%;
}

.error-popup > input[type="text"] {
  margin: 20px;
  padding: 10px;
}

.input-btnth-container {
  display: flex;
  justify-content: flex-end;
}

.cancel {
  margin-right: 15px;
}

.show {
  display: flex;
}